<div class="bg-black h-full w-full">
  <div class="relative min-h-full antialiased">
    <div class="relative bg-white/5">
      <div class="absolute inset-[35%] block rounded-full bg-white/15 blur-2xl" aria-hidden="true" inert=""></div>
      <div class="relative flex min-h-screen w-full flex-col items-center justify-center">
        <div class="relative">
          <%= render Headless::SelectComponent.new(class: "'mt-3 block w-full appearance-none rounded-lg border-none bg-white/5 py-1.5 px-3 text-sm/6 text-white focus:outline-none data-[focus]:outline-2 data-[focus]:-outline-offset-2 data-[focus]:outline-white/25 *:text-black") do |select| %>
            <option value="active">Active</option>
            <option value="paused">Paused</option>
            <option value="delayed">Delayed</option>
            <option value="canceled">Canceled</option>
          <% end %>
          <%= heroicon "chevron-down", class: "group pointer-events-none absolute top-2.5 right-2.5 size-4 fill-white/60" %>
        </div>
      </div>
    </div>
  </div>
</div>
