/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/headlessui/
/test/dummy/catalyst-ui-kit/
/test/dummy/config/utility_classes.yml
/test/dummy/tmp/