<div class="h-full w-full flex items-center justify-center">
  <%= render Headless::MenuComponent.new(open: true) do |menu| %>
    <% menu.with_button do |button| %>
      Options
      <% button.with_icon(icon: "chevron-down", class: "size-4 fill-white/60") %>
    <% end %>

    <% menu.with_items do |items| %>
      <% items.with_item do %>
        View
      <% end %>
      <% items.with_item do %>
        Edit
      <% end %>
      <% items.with_item(disabled: true) do %>
        Delete
      <% end %>
    <% end %>
  <% end %>
</div>