<button class="<%= yass(headless: {button: [:solid, :light]}, add: 'cursor-pointer') %>" data-aria-expanded="false" data-headless--menu-target="button" data-action="headless--transition#toggle" <%= "disabled" if disabled %> <%= "autofocus" if auto_focus %> onmouseover="this.setAttribute('data-hover', '')" onmouseout="this.removeAttribute('data-hover')" dataset.add='hover'>
  <%= content %>
</button> 