<button class="<%= yass(menu: :button) %>" data-headless--menu-target="button" data-action="click->headless--menu#toggle" <%= "disabled" if disabled %> <%= "autofocus" if auto_focus %>>
  <%= content %>
</button> 