<button class="<%= yass(:button) %>" data-aria-expanded="false" data-headless--menu-target="button" data-action="headless--transition#toggle" <%= "disabled" if disabled %> <%= "autofocus" if auto_focus %>>
  <%= content %>
</button> 