<div id="portal" 
     class="<%= yass(headless: { menu: {items: :classes} }) %> !hidden" 
     tabindex="-1"
     role="menu"
     data-controller="headless--portal" 
     data-action="blur->headless--menu#testblur keydown.down->headless--menu#focusNextItem keydown.up->headless--menu#focusPreviousItem keydown.esc@document->headless--transition#leave keydown->headless--menu#focusMatchedItem keydown.enter->headless--menu#selectItem"
     data-headless--menu-target="items"
     data-headless--transition-target="child"
     data-hide-after-transition
     >
     <% items.each do |item| %>
      <%= item %>
     <% end %>
</div> 