<div tabindex="-1" class="<%= yass(headless: { menu: {item: :classes} }) %>"  tabindex="-1" data-headless--menu-target="item" data-action="click->headless--menu#select mouseover->headless--menu#focus mouseleave->headless--menu#blur focus->headless--menu#focus blur->headless--menu#blur mouseleave->headless--menu#focusMenu" <%= "disabled" if disabled %>>
  <%= content %>
</div> 