<div class="<%= yass(headless: { menu: :items }) %>" 
     data-headless--menu-target="items"
     data-headless--transition-target="child"
     data-hide-after-transition
     >
     <% items.each do |item| %>
      <%= item %>
     <% end %>
</div> 