<div class="<%= yass(headless: { menu: {item: :classes} }) %>"  tabindex="-1" data-headless--menu--portal-target="item" data-action="click->headless--menu--portal#select mouseover->headless--menu--portal#focus mouseleave->headless--menu--portal#blur focus->headless--menu--portal#focus blur->headless--menu--portal#blur" <%= "disabled" if disabled %>>
  <%= content %>
</div> 