<div id="menu" 
     data-controller="headless--menu headless--transition" 
     data-headless--menu-headless--portal-outlet="#portal" 
     data-headless--transition-headless--portal-outlet="#portal" 
     data-headless--menu-headless--floating-outlet="#portal" 
     data-action="click@document->headless--menu#closeOnClickOutside transition:beforeenter->headless--menu#sendPortal transition:afterenter->headless--menu#menuOpened transition:afterleave->headless--menu#menuClosed headless--menu:leave->headless--transition#leave transition:afterleave->headless--menu#retrievePortal">
  <%= button %>
  <%= items %>
</div> 